<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">
      <h1 style="text-align: center">Hello</h1>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" ngModel email required #email="ngModel"/>
          <hr>
          <span class="help-box" *ngIf="!email.valid && email.touched ">Please add valid data!</span>
        </div>
        <div class="form-group">
          <label for="subscription"></label>
          <select name="subscription" id="subscription" [ngModel]="defaultSelected">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" ngModel required #pass="ngModel"/>
          <hr>
          <span class="help-box" *ngIf="!pass.valid && pass.touched">Please add valid password!</span>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
